html{
   
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(94,94,126,1) 83%, rgba(143,143,143,1) 100%);
   
    font-family: sans-serif;
    
}

.p_menu{
    text-decoration: none;
    color: white;
}
.h1_major{
    color: white;
}
.menu{
   
    width: 20%;
    
}
.major{
    
    margin-left: 5px;
    width: 80%;
    
    
}
.content{
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.text{
   
    margin: 1%;
    width: 78%;
}
img{
    border-radius: 100%;
}
.image{
    
    margin: 1%;
    padding-top: 2%;
    width: 20%;
}
main{
    display: flex;

}
p{  
    margin-left: 1px;
    margin-right: 1px;
    padding: 4px;
}
.way{
    text-decoration: nome;
}
.current{
    color: white;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(143,143,143,0.5) 0%, rgba(94,94,126,0.5) 83%, rgba(0,0,0,0.5) 100%);
    
}