html {

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(94, 94, 126, 1) 83%, rgba(143, 143, 143, 1) 100%);

    font-family: sans-serif;

}

.p_menu {
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.p_menu:hover {
    background-color: rgb(255, 255, 255, 0.35);
}

.h1_major {
    color: white;
}

.menu {

    width: 20%;

}

.major {

    margin-left: 5px;
    width: 80%;


}

.content {
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    background-color: rgb(202, 202, 202);
    padding: 5px;
}

.text {

    margin: 1%;
    width: 78%;
}

img {
    border-radius: 50%;
}

.image {

    margin: 1%;
    padding-top: 2%;
    width: 20%;
}

body {
    display: flex;

}


p {
    margin-left: 1px;
    margin-right: 1px;
    padding: 4px;
}

.way {
    text-decoration: nome;
}

.current {
    color: white;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(143, 143, 143, 0.5) 0%, rgba(94, 94, 126, 0.5) 83%, rgba(0, 0, 0, 0.5) 100%);

}

.current:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(143, 143, 143, 0.65) 0%, rgba(94, 94, 126, 0.65) 83%, rgba(0, 0, 0, 0.65) 100%);
}

input {
    border: none;
    border-radius: 6px;
    min-width: 60%;
    min-height: 30px;
}

.contato {
    margin: 5px;
}

.message {

    width: 100%;
    min-height: 75px;
}

.button {
    color: rgb(255, 255, 255);
    width: 45%;
    border: none;
    border-radius: 5px;
    min-height: 30px;
    text-align: center;
    background-color: rgb(28, 51, 150);
    margin-top: 15px;
}

.button:hover {
    background-color: rgb(33, 60, 184);
}